<div data-role="view" data-title="Welcome" data-layout="main-nonav" data-model="app.formView" data-show="app.formView.onShow" data-after-show="app.formView.afterShow">
    <div id="formViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: formViewModel.cancel }">Register</a>
                <a class="primary" data-role="button" data-bind="events: { click: formViewModel.submit }">Login</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_formViewModel -->
        <!-- END_CUSTOM_CODE_formViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_formView -->
    <!-- END_CUSTOM_CODE_formView -->
</div>